/* home page */
.content img {
	width: 300px;
  margin-top: 20px;
}

html {
    margin: 2px;
    padding: 2px;
  }
  
body {
    min-width: 960px;
    max-width: 1000px;
    margin: 2px auto;
    padding: 2px;
    color: #5d665b;
    background-color: #e8eae8;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
    line-height: 200%;
    text-align: center;
  }
  
header {
    border-bottom: 1px double;
    vertical-align: middle;
    text-align: center;
  }
  
header img{
    position: relative;
    top: 20px;
  }

h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    vertical-align: middle;
    color: #5c5c4d;
    display: inline;
    position: relative;
    top: -50px;
    left: -20px;

  }

.navRow {
    padding-top: 15px;
  }

.navRow a {
    text-transform: uppercase;
    color: #7d775c;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: bold;
    font-size: 14px;
  }
  
.navRow a:visited {
    color: #7d775c;
  }

.navRow a:hover {
    color: #5c5c4d;
  }

.content {
    text-align: center;
  }

.content p {
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 14px;
  }

footer {
    text-align: center;
    width: 1000px;
    position: fixed;
    bottom: 0px;
    clear: both;
    margin: 2px;
    padding: 2px;
    border-top: 1px double;
    border-bottom: 1px solid;
    background-color: #e8eae8;
  } 

footer p {
    margin: 0px;
  }

/* contact page */
.contact{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    min-height: 3000px;
  }

/* culture page */
.map {
    position: relative;
  }

.map img {
    width: 800px;
    padding-top: 20px;
    z-index: 1;
  }

.map p {
  padding: 5px;
  margin: 0px;
}
  
.mapbutton {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }

#northamerica {
  top: 20%;
  left: 19%;
}

#southamerica {
  top: 55%;
  left: 27%;
}

#africa {
  top: 45%;
  left: 48%;
}

#europe {
  top: 18%;
  left: 48%;
}

#asia {
  top: 18%;
  left: 62%;
}

#australia {
  top: 60%;
  left: 74%;
}

/* videos */
iframe {
  margin-bottom: 100px;
}

/* science page */
#bac_calculator table{
  margin: auto;
  margin-bottom: 50px;
}

#bac_calculator span {
  font-size: 18px;
  font-weight: bold;
}